[alias]
usb_echo = "build -p usb_echo"

[build]
target = "thumbv7em-none-eabihf" # Cortex-M4F and Cortex-M7F (with FPU)

rustflags = [
    # Use LLD as the default linker
    "-C", "link-arg=-Tlink.x",
]