[alias]
usb_echo = "build -p usb_echo"

[target.thumbv7em-none-eabihf]

[build]
target = "thumbv7em-none-eabihf" # Cortex-M4F and Cortex-M7F (with FPU)

[target.'cfg(all(target_arch = "arm", target_os = "none"))']


rustflags = [
    # Use LLD as the default linker
    "-C", "link-arg=-Tlink.x",
]